*{
    box-sizing: border-box;
}
/* .container-all{
    position: relative;
    background-color: rgb(136, 136, 136);
    z-index: -1;
} */
.container-main{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 960px;
    height: 1500px;
    border: 1px solid blue;
}
.myimg{
    position: absolute;
    height: 150px;
    width: 110px;
    z-index: -1;
}
.title{
    height: 60px;
    width:auto;
    margin-top:20px;
    margin-left: 60px;
    box-sizing: border-box;
    color: rgb(80, 115, 130);
    font-size: 80px;
}
.top-mask{
    position: relative;
    height: 22px;
    width:100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    background-color: rgb(80, 115, 130);

    clip-path: polygon(0 0,59% 0,63% 100%,0 100%);
    z-index:1;
}
.top-mask-right{
    position: relative;
    height: 14px;
    width: 100%;
    margin-top: 4px;
    margin-left: 10px;
    bottom: 18px;
    background-color: rgb(193, 159, 103);
    clip-path: polygon(62% 0,98% 0,98% 100%,65% 100%);
    z-index: 2;
}
.box1{
    position: relative;
    height: 20px;
    
}
.box-title{
   height: 50px;
   width:200px;
   background-color: rgb(80, 115, 130);
   margin-left: 40px;
   clip-path: polygon(0 0,160px 0,200px 40px,50px 40px, 50px 50px, 0 40px)
}
.box-line-y{
    position: relative;
    height: 2px;
    width: 855px;
    left:90px;
    bottom: 5px;
    background-color: rgb(80, 115, 130);
    z-index: 2;
}
.box-title p{
    position: relative;
    left: 30px;
    color: white;
    font-size: 20px;
    z-index: 2;
}

.box-info{
    height: 200px;
    margin-top: 15px;
    margin-left: 90px;
    font-size: 20px
}
.box-educatin-info{
    height: 60px;
    margin-top: 15px;
    margin-left: 110px;
    font-size: 20px
}
.box-skill{
    height: 220px;
    margin-top: 15px;
    margin-left: 110px;
    font-size: 20px
}
.box-project{
    height: 370px;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 20px
}
.box-learnmore{
    height: 200px;
    margin-top: 15px;
    margin-left: 150px;
    font-size: 20px
}
.name{
    
}

.blord{
    color:rgb(193, 159, 103)
}